@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

/* All btn's */

.btn1 {
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 35px;
}
.btn2 {
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 35px;
}
.btn3 {
  width: 160px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 35px;
}

.btn4 {
  width: 200px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 35px;
}

.btn5 {
  width: 150px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 35px;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
nav .nav-title {
  font-size: 45px;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
  font-size: 20px;
  font-weight: 400;
}
nav a {
  text-decoration: none;
  color: #181818;
}

/* Header */

.header {
  background: #fff8f3;
  background-image: url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0px 150px;
}
.banner-content {
  max-width: 585px;
}

.banner img {
  width: 500px;
  height: 600px;
  flex-shrink: 0;
}

.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #181818;
  margin: 0;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* main Section */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
}

/* About Section */

.about {
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 130px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-p {
  color: #757575;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  text-align: center;
}

/* Box Section */

#whatido {
  padding: 30px 150px;
}

.skill {
  padding: 30px;
  border-radius: 5px;
  gap: 25px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

  /* border: 1px solid; */
}

.skill img {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
}

.skill .s-title {
  color: #181818;
  text-align: start;
  font-size: 20px;
  font-weight: 700;
}

.skill .sp {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.skill-container {
  display: flex;
  gap: 24px;
}

/* Resume Section */

.RST {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.resume-container {
  display: flex;
  gap: 50px;
}

.RII {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.RID {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.RIT {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.resume-colum-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}

.download-cv {
  text-align: center;
  margin-top: 50px;
}

/* Footer Section */

footer {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  margin-top: 100px;
  padding: 230px 200px;
}

.footer-d {
  color: #474747;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: start;
}

.social-icon a {
  margin-right: 25px;
}

.social-icon{
    margin-top: 40px;
}

.footer-colum {
  width: 50%;
}

.Contact input,
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 10px 35px;
  border: none;
  border-radius: 5px;
}
